@model MusicStore.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <dt>
            Artist Name
        </dt>

        <dd>
            <a href="@Url.Action("Details","Artists", new { id = Model.Artist.ArtistId })">@Model.Artist.Name</a>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price) $
        </dd>

    </dl>
    
    <img class="img img-rounded col-lg-2 col-md-2 col-sm-2" src="@Model.Poster" />
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AlbumId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.AlbumId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<hr />
<h4>Songs</h4>
<table class="table">
    <tr>
        <th>
            Song Title
        </th>
        <th>
            <span class="glypglyphicon glyphicon glyphicon-time"></span>
        </th>
        <th></th>
    </tr>

    @foreach (var song in Model.Songs) {
        <tr>
      
            <td>
                <a href="@Url.Action("Details","Songs",new {id = song.SongId})">@song.Title</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => song.Length)
            </td>
        </tr>
    }

</table>
